.employer-detail-container {
    height: 500px;

    .intro-employer {
        display: flex;
        margin: 0 100px;


        .content-left {
            width: 20%;
            height: 300px;
            background-color: #eee;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            border-radius: 50%;
            margin: 20px 20px
        }

        .content-right {
            width: 80%;
            display: flex;
            flex-direction: column;
            padding-left: 10px;

            .up {
                font-size: 30px;
                font-weight: 600;
                padding-top: 15px;
            }

            .down {
                font-size: 20px;
                padding-top: 10px;
            }
        }
    }

    .schedule-employer {
        margin: 0 100px;
        display: flex;
        height: 200px;
        border: 1px solid red;

        .content-left {
            width: 50%;
        }

        .content-right {
            width: 50%;
        }
    }

    .detail-infor-employer {
        background-color: #eee;
        font-size: 20px;
        padding: 70px 100px;
        border: 1px solid black;
    }

    .comment-employer {}
}