.room-schedule-container {
    border-right: 1px solid green;
    height: 100%;

    .all-schedule {}

    .all-available-room {
        .text-calendar {
            margin: 10px 0;
            color: #333;

            span {
                text-transform: uppercase;
                margin-left: 5px;

            }
        }

        .time-content {
            display: flex;
            gap: 15px;
            flex-wrap: wrap;

            button {
                padding: 8px 10px;
                outline: none;
                border: none;
                background: #fff04b;
                min-width: 120px;
                border-radius: 3px;
                color: #333;

                &:hover {
                    background-color: #45c3d2;
                    color: white;
                }


            }

            .no-schedule {
                font-style: italic;
                font-size: 14px;
            }
        }
    }
}