.manage-room-container {
    padding: 30px;

    .more-infor {
        display: flex;
        gap: 15px;
        padding-bottom: 15px;

        .content-left {
            width: 40%;
        }

        .content-right {
            width: 60%;
        }
    }

    .manage-room-title {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .save-content-room {
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 5px;
        outline: none;
        border: none;
        padding: 10px;
        background: orange;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }
    }

    .create-content-room{
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 5px;
        outline: none;
        border: none;
        padding: 10px;
        background: rgb(11, 93, 216);
        cursor: pointer;
        color: white;

        &:hover {
            opacity: 0.9;
        }
    }

    label {
        margin-bottom: 5px;
    }
}