.room-list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.room-item {
    border: 5px solid #ddd;
    padding: 50px;
    text-align: center;
    width: 500px;
    font-size: 30px;

}

.room-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.room-banner {
    background: url('../../assets/images/hoc-phi-dai-hoc-buu-chinh-vien-thong-2.jpg') no-repeat;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    padding: 200px 0;
    display: flex;
    flex-direction: column;
}

.room-content-up {
    height: 50%;
    /* padding: 200px 0; */
}




.search {
    border: 1px solid black;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    width: 280px;
    border-radius: 30px;
    background: yellow;

    i {
        margin: 0 5px;
    }

    input {
        height: 30px;
        width: 360px;
        background: transparent;
        border: none;
        outline: none
    }
}