img {
    display: flex;
    max-width: 100%;
    height: auto;
    margin: 50px;
    max-width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.other-rooms {
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    text-decoration: none;

}

.room-item-info {
    text-align: center;
    border: 1px solid #ddd;
    padding: 40px;
    text-align: center;
    font-size: 30px;
}

.main {
    height: 1000px;
}

.room-title1 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 50px;
}

.room-title2 {
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 50px;
}

.room-title3 {

    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 30px;
    text-decoration: none !important;
}

.price {
    text-align: center;
    font-size: 30px;
}

.btn.js-buy-ticket {
    padding-right: 10px;
    padding-left: 10px;
    border: 5px solid black;
    height: 50px;
    font-size: 30px;
    display: block;
    /* Ensure the button is a block element */
    margin: 0 auto;
    /* Center the button horizontally */
    text-align: center;
    /* Center the text within the button */
    background-color: yellow;
}




.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 1s;
}

.modal-header {
    background: yellow;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: black;
}

.modal-header .modal-heading-icon {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.9;
}

.modal-close:hover {
    opacity: 1;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;

}

.modal-body {
    padding: 16px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets {
    background: yellow;
    border: none;
    color: black;
    width: 100%;
    font-size: 15PX;
    text-transform: uppercase;
    padding: 12px;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer {
    color: #2196f3;
}

.modal.open {
    display: flex;
}

@keyframes modalFadeIn {
    from {
        transform: translateY(-140px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;

    }
}